<form method="POST" action="/salary_generator">

    <label for="inputAge">Age</label>
    <input type="integer" id="inputAge" name="age" placeholder="Age">

    <label for="inputPts">Points</label>
    <input type="integer" id="inputPts" name="pts" placeholder="Points">

    <label for="inputReb">Rebounds</label>
    <input type="integer" id="inputReb" name="reb" placeholder="Rebounds">

    <label for="inputAst">Assists</label>
    <input type="integer" id="inputAst" name="ast" placeholder="Assists">

    <label for="inputPlm">Plus-minus</label>
    <input type="integer" id="inputPlm" name="plm" placeholder="Plus-minus">

    <input type="submit" value="Calculate">

</form>