<form method="POST" action="/salary_generator">

    <label for="inputAge">Age</label>
    <input type="integer" id="inputAge" name="age">

    <label for="inputPts">Points</label>
    <input type="integer" id="inputPts" name="pts">

    <label for="inputReb">Rebounds</label>
    <input type="integer" id="inputReb" name="reb">

    <label for="inputAst">Assists</label>
    <input type="integer" id="inputAst" name="ast">

    <label for="inputPlm">Plus-minus</label>
    <input type="integer" id="inputPlm" name="plm">

    <input type="submit" value="Calculate">

</form>